@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed' , sans-serif;
    text-decoration: none;
    transition: 0.3s;
}

#header   {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: #e3e6f3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}
#header .logo{
    font-size: 30px;
}
#header span{
    font-size: 30px;
    color: #ee2761;
}
  #navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}
  #navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}
  #navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}
  
  #navbar li a:hover,
  #navbar li a.active{
    color: #ff0000;
}
  
  #mobile{
    display: none;
    align-items: center;
}
  
  #close{
    display: none;
}
  
  #navbar li a.active::after,
  #navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background-color: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}
#mobile{
    display: none;
    align-items: right;
}
body{
    width: 100%;
}
section{
    margin: 100px 0px;
}
.container{
    width: 85%;
    margin: auto;
}
.btn{
    padding: 5px 20px;
    background-color: #ee2761;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    letter-spacing: 1.3px;
    border: 2px solid #ee2761;
    font-size: medium;
}
.btn:hover{
    background-color: transparent;
    color: #ee2761;
}
.boxs{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.boxs .box{
    width: 30%;
}
.top-sec{
    text-align: center;
    padding: 0 0 100px;
}
.top-sec h3{
    font-size: 40px;
    padding-bottom: 20px;
    color: #111;
    position: relative;
}
.top-sec h3::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 4px;
    background-color: #ee2761;
    border-radius: 5px;
}
.hero{
    margin-bottom: 0;
    width: 100%;
    height: calc(100vh - 100px);
    background : url(pics/bg-home.jpeg);
    background-size: cover;
    background-position: right;
    margin-top: 20px;
}
.hero .container{
    position: relative;
    height: 100%;
}
.hero .content{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
.hero .content p{
    color: #606060;
    font-size: 24px;
    margin-bottom: capitalize;
    margin-bottom: 23px;
    margin-left: -8px;
}
.hero .content h1{
    color: #111;
    font-size: 80px;
    text-transform: capitalize;
    margin: 20px 1px;
}
.hero .content h1 span{
    color: #ee2761;
}
.hero .content p .last-p{
    margin-bottom: 50px;
}
.hero .content .btn{
    font-size: 20px;
}
.banner .boxs .box img{
    width: 100%;
}
.banner .boxs .box{
    position: relative;
    overflow: hidden;
}
.banner .boxs .box .text{
    position: absolute;
    bottom: 20px;
    right: 0px;
    text-align: right;
}
.banner .boxs .box:hover .text{
    bottom: 17px;
}
.banner .boxs .box .text span{
    color: #ee2761;
    font-size: 19px;
    font-weight: 600;
}
.banner .boxs .box .text h5{
    color: #111;
    font-size: 29px;
    margin: 5px 0 13px;
}
.banner .boxs .box .text .btn{
    opacity: 0;
}
.banner .boxs .box:hover .text .btn{
    opacity: 1;
}
.products .items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.products .items .item{
    width: 22%;
    margin-bottom: 60px;
    position: relative;
    overflow: hidden;
}
.products .items .item img{
    width: 100%;
    margin-bottom: 20px;
    border-radius: 6px;
}
.products .items .item .tittle-prod{
    color: #111;
    font-size: 20px;
}
.products .items .item .tittle-prod:hover{
    color: #ee2761;
}
.products .items .item .stars{
    margin: 10px 0;
}
.products .items .item .stars i{
    color: #ffdc19;
}
.products .items .item .price span{
    color: #606060;
    font-size: 20px;
    font-weight: 600;
    margin-right: 30px;
    cursor: pointer;
    text-decoration: line-through;
}
.products .items .item .price del{
    color: #ee2761;
    font-size: 24px;
}
.products .items .item .icon-product{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -37px;
    display: flex;
    flex-direction: column;
}
.products .items .item:hover .icon-product{
    right: 7px;
}
.products .items .item .icon-product i{
    width: 30px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border: 1px solid #1111116e;
    color: #111;
    background-color: #fff;
    font-size: 18px;
    margin-bottom: 10px;
}
.products .items .item .icon-product i:hover{
    background-color: #ee2761;
    color: #fff;
}
.banner-2 .container{
    background: url(pics/banne-2.jpeg);
    height: 500px;
    background-position: top left;
    background-size: cover;
    position: relative;
}
.banner-2 .container .content{
    position: absolute;
    top: 50%;
    left: 80px;
    transform: translateY(-50%);
    width: 400px;
}
.banner-2 .container .content span{
    color: #ee2761;
    font-size: 18px;
    text-transform: capitalize;
    margin-left: 2px;
}
.banner-2 .container .content h3{
    color: #111;
    font-size: 35px;
    margin: 10px 0 25px;
    text-transform: capitalize;
}
.banner-2 .container .content p{
    color: #313535;
    margin-bottom: 40px;
    line-height: 1.5;
    margin-left: -13px;
}
.blog .boxs .box{
    width: 23%;
}
.blog .boxs .box img{
    width: 100%;
    border-radius: 5px;
}
.blog .boxs .box .desc-blog span{
    color: #ee2761;
    font-size: 18px;
}
.blog .boxs .box .desc-blog h4{
    color: #111;
    font-size: 20px;
    margin: 10px 0 30px;
}
.blog .boxs .box .desc-blog .btn{
    background-color: transparent;
    color: #ee2761;
    padding: 12px 28px;
}
.blog .boxs .box .desc-blog .btn:hover{
    background-color: #ee2761;
    color: #fff;
}
.newsletter{
    background-color: #dadada;
    height: 300px;
}
.newsletter .container{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.newsletter .text h4{
    color: #ee2761;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 20px;
    text-transform: capitalize;
    margin-top: 50px;
    margin-left: -10px;
}
.newsletter .text p{
    margin-bottom: 20px;
    font-size: 20px;
    color: #111;
    margin-top: 20px;
    margin-left: -25px;
}
.newsletter .subscribe-form{
    width: 600px;
    position: relative;
    border-radius: 30px;
    overflow: hidden;
    margin-top: 40px;
}
.newsletter .subscribe-form input{
    width: 100%;
    border: none;
    outline: none;
    font-size: 23px;
    padding: 18px 20% 18px 30px;
    border-radius: 30px;
    border: 2px solid #6060607c;
}
.newsletter .subscribe-form .btn-srch{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 150px;
    border: none;
    background-color: #ee2761;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}
footer .container{
    padding: 50px 0 20px;
    display: flex;
    justify-content: space-between;
}
footer .big-rows{
    width: 33%;
    padding-right: 50px;
}
footer .big-rows .logo{
    font-size: 30px;
    font-weight: bold;
    color: #111;
    margin-bottom: 25px;
    text-transform: uppercase;
}
footer .big-rows .logo span{
    color: #ee2761;
}
footer .big-rows p{
    color: #606060;
    line-height: 1.5;
    margin-bottom: 20px;
}
footer .big-rows .coical-icon i{
    width: 40px;
    height: 40px;
    background-color: #ee2761;
    color: #fff;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    margin-right: 8px;
    border: 1px solid #ee2761;
}
footer .big-rows .coical-icon i:hover{
    background-color: transparent;
    color: #ee2761;
}
footer .container .row{
    width: 20%;
}
footer .container .row .tittle{
    color: #111;
    margin-bottom: 25px;
}
footer .container .row .links{
    display: flex;
    flex-direction: column;
}
footer .container .row .links a{
    color: #aa9595;
    padding: 8px 0;
}
footer .container .row .links a:hover{
    color: #ee2761;
}
footer .bottom-footer{
    border-top: 1px solid #94949450;
}
footer .bottom-footer .content{
    padding: 20px 0;
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer .bottom-footer .content p{
    color: #111;
}
footer .bottom-footer .content p{
    color: #020202;
    font-weight: bold;
}
footer .bottom-footer .content p del{
    color: #ee2761;
    font-weight: bold;
}
.arrow{
    position: fixed;
    top: -25px;
    left: 0;
    right: 0;
    background-color: #d4cfc1;
    border-bottom: 1px solid #b6989850;
    box-shadow: 0px 0px 8px #4d434341;
    z-index: 100;
}
.arrow .arr1 .arr i{
    margin-left: 100px;
    font-size: 30px;
    margin-top: 20px;
    color: #111;
}
.arrow .arr1 .arr i:hover{
    color: #ee2761;
}
.arrow .arr1 h3{
    text-align: center;
    font-size: 30px;
    border-top: -20px;
    margin-top: -25px;
}
.products1 .items1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.products1 .items1 .item1{
    width: 23%;
    margin-bottom: 60px;
    position: relative;
    overflow: hidden;
    margin-top: 75px;
}
.products1 .items1 .item1 img{
    width: 100%;
    margin-bottom: 20px;
    border-radius: 6px;
}
.products1 .items1 .item1 .tittle-prod1{
    color: #111;
    font-size: 20px;
}
.products1 .items1 .item1 .tittle-prod1:hover{
    color: #ee2761;
}
.products1 .items1 .item1 .stars1{
    margin: 10px 0;
}
.products1 .items1 .item1 .stars1 i{
    color: #ffdc19;
}
.products1 .items1 .item1 .price1 span{
    color: #b99797;
    font-size: 20px;
    font-weight: 600;
    margin-right: 30px;
    cursor: pointer;
    text-decoration: line-through;
}
.products1 .items1 .item1 .price1 del{
    color: #ee2761;
    font-size: 24px;
}
.products1 .items1 .item1 .icon-product1{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -40px;
    display: flex;
    flex-direction: column;
}
.products1 .items1 .item1 .icon-product1{
    right: -5px;
}
.products1 .items1 .item1:hover .icon-product1{
    right: 40px;
}
.products1 .items1 .item1 .icon-product1 i{
    width: 35px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border: 1px solid #1111116e;
    color: #111;
    background-color: #fff;
    font-size: 18px;
    margin-bottom: 10px;
    margin-right: -40px;
}
.products1 .items1 .item1 .icon-product1 i:hover{
    background-color: #ee2761;
    color: #fff;
}
h4{
    margin-left: 96px;
    font-size: 30px;
}
.arrow1{
    position: fixed;  
    top: 0;
    left: 0;
    right: 0;
    background-color: #9c4995;
    border-bottom: 1px solid #b79d9d50;
    box-shadow: 0px 0px 8px #615b5b41;
    z-index: 100;
}
.arrow1 .arr1 .arr i{
    margin-left: 100px;
    font-size: 30px;
    margin-top: 10px;
    color: #111;
}
.arrow1 .arr1 .arr i:hover{
    color: #ee2761;
}
.arrow1 .arr1 h3{
    text-align: center;
    font-size: 30px;
    border-top: -50px;
    margin-top: -33px;
}
.left .arrow{
    font-size: 20px;
    margin-top: 10px;
    background-color: #fff;
}
.left .arrow h3{
    margin-left: 30%;
    margin-top: -25px;
}
.left .arrow i{
    margin-left: 40px;
    font-size: 30px;
    margin-top: 10px;
}
.left .arrow i:hover{
    color: #ee2761;
}
.left .arrow h2{
    font-size: 20px;
    text-align: right;
    margin-right: 150px;
    margin-top: -20px;
    margin-bottom: 9px;
}
.left .arrow h2:hover{
    color: #ee2761;
    cursor: pointer;
}
.help .center{
    margin-top: -10px;
    text-align: right;
    background-color: #ffffff;
    box-shadow: 0px 0px 8px #1c191941;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 5px;
}
.help .center img{
    height: 150px;
    width: 200px;
    margin-right: 20px;
    border-radius: 5px;
    position: relative;
    margin-top: -50px;
}
.help .center h2{
    text-align: left;
    margin-left: 20px;
    border-bottom: 40px;
    margin-bottom: -70px;
    margin-top: 10px;
    color: #1099de;
}
.help .center p{
    text-align: left;
    font-size: 20px;
    margin-left: 0px;
    margin-top: -46px;
    color: #111e1c;
}
.help .center h5{
    text-align: left;
    font-size: 20px;
    margin-left: 20px;
    margin-top: 2px;
    color: #163d8a;
}
.help .center i{
    text-align: left;
    font-size: 20px;
    margin-left: 1px;
    color: #0fce38;
}
.help .center i{
    margin-top: 80px;
}
.help .center i:hover{
    color: #ee2761;
}

.class1{
    margin-left: 30px;
    background-color: #fff;
    box-shadow: 0px 0px 8px #1c191941;
    padding: 10px;
    margin-top: -85px;
}
.class2{
    margin-left: 30px;
    background-color: #fff;
    box-shadow: 0px 0px 8px #1c191941;
    padding: 10px;
}
.class3{
    margin-left: 30px;
    background-color: #fff;
    box-shadow: 0px 0px 8px #1c191941;
    padding: 10px;
}
.class4{
    margin-left: 30px;
    background-color: #fff;
    box-shadow: 0px 0px 8px #1c191941;
    padding: 10px;
}
.class1 i{
    cursor: pointer;
    margin-left: 1049px;
}
.class1 i:hover{
    color: #ee2761;
    scale: 1.8;
}
.class2 i{
    cursor: pointer;
    margin-left: 990px;
}
.class2 i:hover{
    color: #ee2761;
    scale: 1.8;
}
.class3 i{
    cursor: pointer;
    margin-left: 1015px;
}
.class3 i:hover{
    color: #ee2761;
    scale: 1.8;
}
.class4 i{
    cursor: pointer;
    margin-left: 1115px;
}
.class4 i:hover{
    color: #ee2761;
    scale: 1.8;
}
.class5 {
    text-align: center;
    padding: 60px;
    font-size: 20px;
    font: bold;
}
.class5 .postal{
    padding: 15px;
}
.class5 .postal:hover{
    color: #ee2761;
    scale: 1.8;
}
.for h3{
    margin-left: 30px;
    padding-top: 50px;
    color: #db4242;
}
.blog4{
    background-color: #fff;
    margin-left: 45px;
    font-size: 30px;
    margin-right: 65px;
    box-shadow: 0px 0px 8px #1c191941;
}
.blog4 img{
    width: 100%;
    height: 700px;
    padding-left: 15px;
    padding-right: 16px; 
}
.blog4 pre{
    margin-right: 45px;
    font-size: 13.5px;
    margin-top: 1px;
    margin-bottom: 2px;
    padding-left: 15px;
    padding-right: 16px;
}
.blog4 h3{
    margin-bottom: 1px;
    padding-left: 15px;
    padding-right: 16px;
}
.blog4 h1,p{
    padding-left: 15px;
    padding-right: 16px;
    font-size: 18px;
    padding-top: 4px;
}
.blog4 i{
    color: #07c530;
}
.blog4 p span{
    color: #e10808;
}
.blog4 pre span{
    color: #e10808;
}
.blog4 h5{
    margin-left: 18px;
}
.blog1 p{
    padding-left: 15px;
    padding-right: 16px;
    font-size: 13.5px;
    padding-top: 4px;
}
@media (max-width:768px) {
    .section-p1{
        padding: 40px 40px;
    }
    section{
        margin: 100px 0px;
    }
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0px;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color:#e3e6f3;
        box-shadow: 0 40px 60px rgb(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
        transition: 0.3s;
    }
    #navbar li a:hover{
        color: #e10808;
    }
    #close{
        display: none;
    }
    #header{
        padding: 20px 20px;
    }
    .hero .content{
        top: 55%;
    }
  
    #navbar.active{
      right: 0px;
    }
    
  
    #navbar li{
      margin-bottom: 20px;
    }
  
    #mobile{
      display: flex;
      align-items: center;
    }
  
    #mobile i{
      color: #1a1a1a;
      font-size: 24px;
      padding: 20px;
      margin-right: 20px;
    }
  
    #close{
      position: absolute;
      top: 30px;
      left: 30px;
      color: #222;
      font-size: 24px;
      text-decoration: none;
      display: initial;
    }
    
    #lg-bag{
      display: none;
    }
    .btn{
        margin-left: 0px;
        padding: 1px 0px;
        margin-bottom: 0px;
    }
    .btn:hover{
        background-color: transparent;
        color: #ee2761;
    }
    .hero{
        height: calc(100vh - 350px);
        margin-top: 20px;
    }
    .hero .content{
        top: 55%;
    }
    .hero .content .btn:hover{
        color: #ffdc19;
    }
    .hero .content p{
        color:#23212c;
        font-weight: 800;
        font-size: 30px;
    }
    .hero .content h1{
        margin-left: -36px;
        font-size: 70px;
    }
    .arrow .arr1 h3{
        text-align: center;
        font-size: 30px;
        margin-top: -30px;
        margin-bottom: 20px;
    }
    .arrow .arr1 .arr i{
        margin-left: 80px;
        font-size: 30px;
        margin-top: 50px;
        color: #111;
    }
    .products .items .item .icon-product{
        top:35%;
        transform: translateY(-53%);
    }
    .products .items .item .price del{
        font-size: 16px;
    }
    .products .items .item .tittle-prod{
        font-size: 15px;
    }
    .products .items .item .price span{
        margin-right: 10px;
    }
    .products1 .items1 .item1 .tittle-prod1{
        font-size: 15px;
    }
    .products1 .items1 .item1 .icon-product1{
        top:35%;
        transform: translateY(-50%);
        color: #ee2761;
    }
    .products1 .items1 .item1 .price1 span{
        margin-right: 10px;
    }
    .products1 .items1 .item1 .price1 del{
        font-size: 16px;
    }
    h4{
        margin-left: 57px;
    }
    footer .container{
        margin-right: 2px;
    }
    footer .big-rows .logo{
        margin-left: -55px;
    }
    footer .big-rows p{
        margin-left: -70px;
    }
    footer .big-rows .coical-icon i{
        width: 30px;
        margin-right: 57px;
        margin-left: -55px;
    }
    .products1 .items1 .item1 .icon-product1:hover{
        color: #ee2761;
    }
    .banner .boxs .box .text h5{
        font-size: 20px;
        margin: 0px;
    }
    .banner .boxs .box .text span{
        font-size: 15px;
    }

    .banner .boxs .box .text{
        margin-bottom: -10px;
    }
    .banner .boxs .box:hover .text{
        bottom: 17px;
    }
    .banner .boxs .box:hover .text .btn{
        opacity: 1;
    }
    .btn:hover{
        background-color: transparent;
        color: #ee2761;
    }
    .newsletter .text p{
        margin-bottom: -100px;
    }
    .newsletter .subscribe-form{
        margin-top: 120px;
        margin-left: 35px;
    }
    .newsletter .subscribe-form .btn-srch{
        width: 120px;
    }
    .blog .boxs .box .desc-blog .btn{
        margin-left: 1px;
    }
    .banner-2 .container{
        height: 350px;
    }
    .banner-2 .container .content p{
        margin-right: 55px;
    }
    .banner-2 .container .content span{
        margin-right: 0px;
        font-size: 20px;
    }
    .banner-2 .container .content h3{
        font-size: 30px;
    }
    .class1 i{
        margin-left: 559px;
    }
    .class2 i {
        margin-left: 500px;
    }
    .class3 i {
        margin-left: 525px;
    }
    .class4 i{
        margin-left: 624px;
    }
    .hero .content p{
        margin-top: 0px;
        margin-left: -47px;
    }
    #mobile i {
        font-size: 20px;
        align-items: right;
    }
    #header .logo{
        margin-left: 40px;
        font-size: 40px;
    }
    #header .logo span{
        font-size: 40px; 
    }
    .logo span{
        font-size: 30px;
    }
    .blog4 img{
        width: 105%;
        height: 500px;
        padding-right: 48px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .blog4 i{
        margin-left: 14px;
        font-size: 20px;
    }
    .blog4 h1{
        font-size: 30px;
    }
    .blog4 p{
        font-size: 7px;
    }
    .blog4 pre{
        font-size: 7px;
        margin-top: -10px;
        padding: 5px;
        margin-left: 10px;
        margin-top: 0.5px;
    }
    .blog4 h3{
        margin-bottom: 10px;
        font-size: 25px;
        padding-left: 11px;
    }
    footer .container .row .links a{
        padding: 2px 0px;
    }
    footer .container .row .tittle{
        margin-bottom: 5px;
    }
    footer .big-rows .logo{
        margin-bottom: 5px;
    }
    .left .arrow{
        margin-top: 35px;
    }
}
@media (max-width:480px){
    section{
        margin: 88px 0px;
    }
    body{
        width: 118%;
    }

    #header{
        padding: 1px 1px;
        width: 100%;
        margin-bottom: -80px;
    }
    #header .logo{
        margin-left: 18px;
        font-size: 20px;
    }
    #header .logo span{
        font-size: 20px;
    }
    #mobile i{
        font-size: 15px;
        margin-right: 30px;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-right: 2px;
    }
    .hero{
        height: calc(100vh - 400px);
        margin-top: 85px;
        width: 99.9%;
        border-radius: 5px;
    }
    .hero .content{
        margin-top: 380px;
        margin-left: 35px;
    }
    .hero .container{
        height: 60px;
    }
    .hero .content p{
        margin-top: 0px;
        font-size: 13px;
        margin-left: 6px;
        font: bolder;
        color: #000000;
        margin-bottom: 5px;
    }
    .hero .content h1{
        margin-left: 21px;
        font-size: 22px;
    }
    .hero .content .btn{
        margin-left: 24px;
        font-size: 12px;
    }
    .container{
        width: 95.5%;
        margin-left: 9.3px;
    }
    .banner-2 .container{
        height: 162px;
    }
    .banner .boxs .box .text h5{
        font-size: 7px;
    }
    .banner .boxs .box .text span{
        font-size: 10px;
    }
    .banner .boxs .box .text {
        position: absolute;
        top: 35px;
        bottom: 0px;
        right: 2px;
        text-align: right;
    }
    .products .items .item .icon-product i:hover{
        color: #fff;
        background-color: #ee2761;
    }
    .btn{
        font-size: 7px;
        border: 1px solid #ee2761;
        border-radius: 1.8px; 
    }
    .btn:hover{
        color: #ee2761;
        background: transparent;
    }
    .top-sec{
        padding: 0 0 30px;
    }
    .top-sec h3{
        font-size: 30px;
        padding-bottom: 0px;
    }
    .products .items .item img{
        margin-bottom: 0.2px;
    }
    .products .items .item{
        margin-bottom: 20px;
    }
    .products .items .item .tittle-prod{
        font-size: 8.3px;
    }
    .products .items .item .stars{
        font-size: 6.8px;
        margin: 0px;
    }
    .products .items .item .price span{
        font-size: 8px;
        margin-left: 1.5px;
        margin-right: 2px;
    }
    .products .items .item .price del{
        font-size: 9.5px;
    }
    .products .items .item .icon-product{
        top: 37%;
        transform: translateY(-52%);
        color: #ee2761;
    }
    .products .items .item .icon-product i{
        width: 15px;
        height: 20px;
        line-height: 20px;
        margin-bottom: 10px;
        margin-right: -12px;
        border: 1px solid #1111116e;
        color: black;
        font-size: 8px;
        bottom: 10px;
    }
    .products .items .item:hover .icon-product{
        right: 12px;
    }
    section{
        margin: 50px 0px;
    }
    .banner-2 .container{
        height: 147px;
    }
    .banner-2 .container .content{
        left: 20px;
    }
    .banner-2 .container .content span{
        font-size: 13px;
    }
    .banner-2 .container .content p{
        margin-bottom: 4.5px;
        font-size: 8px;
        margin-left: 1px;
        margin-right: 185px;
    }
    .banner-2 .container .content h3{
        font-size: 12px;
        margin: 2px 0px;
    }
    .blog .boxs .box .desc-blog span{
        font-size: 7px;
    }
    .blog .boxs .box .desc-blog h4{
        font-size: 8px;
        margin: 2px 0px 2px;

    }
    .blog .boxs .box .desc-blog .btn{
        padding: 2px 2px;
    }
    .newsletter{
        height: 150px;
        width: 100%;
    }
    .newsletter .container{
        width: 85%;
    }
    .newsletter .text h4{
        font-size: 11px;
        margin-left: 20px;
        margin-bottom: 5px;
    }
    .newsletter .text p{
        font-size: 11px;
        margin-left: 5px;
        margin-bottom: 1px;
        margin-top: 0px;
    }
    .newsletter .subscribe-form input{
        width: 80%;
        font-size: 13px;
        padding: 3px;
        border: 0.5px solid #6060607c;
    }
    .newsletter .subscribe-form .btn-srch{
        width: 80px;
        font-size: 10px;
    }
    footer .big-rows .logo{
        margin-left: 2px;
        font-size: 12px;
    }
    .logo span{
        font-size: 12px;
    }
    footer .big-rows p{
        margin-left: 3px;
        font-size: 10px;
        line-height: 1.2;
        bottom: 10px;
        padding-right: 0px;
    }
    footer .big-rows{
        width: 33%;
        padding-right: 5px;
    }
    footer .big-rows .coical-icon i{
        width: 15%;
        margin-left: 6px;
        margin-right: 2px;
        border: 0.2px solid #ee2761;
        border-radius: 3px;
        font-size: 10px;
        height: 15px;
        line-height: 15px;

    }
    footer .container{
        padding: 15px 0 10px;
    }
    footer .container .row .tittle{
        font-size: 10px;
    }
    footer .container .row .links a{
        font-size: 10.5px;
        padding: 2.5px 0;
    }
    footer .bottom-footer .content{
        width: 96%;
    }
    footer .bottom-footer .content p{
        margin-left: 0px;
        font-size: 13px;
    }
    .arrow .arr1 .arr i{
        margin-left: 20px;
        font-size: 20px;
        margin-top: 10px;
    }
    .arrow .arr1 h3{
        font-size: 20px;
        margin-top: -22px;
    }
    .arr1 h3{
        font-size: 25px;
        margin-top: -30px;
    }
    .products1 .items1{
        margin-bottom: 100px;
    }
    .products1 .items1 .item1{
        margin-bottom: -30px;
    }
    .products1 .items1 .item1 .tittle-prod1 {
        font-size: 11px;
    }
    .products1 .items1 .item1 .stars1{
        font-size: 8.5px;
        margin: 4px opx;
    }
    .products1 .items1 .item1 .price1 span{
        font-size: 8px;
    }
    .products1 .items1 .item1 .price1 del{
        font-size: 9.6px;
    }
    h4{
        font-size: 15px;
        margin-left: 10px;
    }
    .products1 .items1 .item1 .icon-product1{
        top: 30%;
        transform: translateY(-52%);
        color: #ee2761;
    }
    .products1 .items1 .item1 .icon-product1 i{
        width: 15px;
        height: 20px;
        text-align: center;
        border-radius: 0.8px solid #1111116e;
        font-size: 8px;
        margin-right: -12px;
        line-height: 20px;
    }
    .products1 .items1 .item1:hover .icon-product1{
        right: 12px;
    }
    .products1 .items1 .item1 .icon-product1:hover{
        color: #e10808;
    }
    .products1 .items1 .item1 .icon-product1 i:hover{
        background-color: #ee2761;
        color: #fff;
    }
    .arrow{
        position: sticky;
        top: 56px;
        left: 0;
        right: 0;
        z-index: 100;
    }
    .arrow .arr1 .arr i:hover{
        color: #ee2761;
    }
    .blog4 img{
        width: 102%;
        height: 260px;
    }
    section{
        margin: 25px 0px;
    }
    .blog4{
        font-size: 16px;
        margin: 0 10px;
    }
    .blog4 h1{
        font-size: 17px;
        padding-top: 85px;
    }
    .blog4 pre{
        font-size: 4.9px;
        padding: 0.2px;
        margin-left: 5px;
    }
    .blog4 i{
        font-size: 12px;
        margin-left: 15px;
    }
    .blog4 h3{
        padding: 1px;
        font-size: 15px;
        margin-left: 4px;
        margin-bottom: 5px;
    }
    .blog4 p{
        padding: 1px;
        font-size: 4.9px;
    }
    .left .arrow h3{
        margin-left: 34%;
    }
    .left .arrow h2{
        margin-right: 5px;
    }
    .class1{
        margin-top: 5px;
        margin-right: 30px;
    }
    .class2{
        margin-right: 30px;
    }
    .class3{
        margin-right: 30px;
    }
    .class4{
        margin-right: 30px;
    }
    .class1 i{
        margin-left: 229px;
    }
    .class2 i{
        margin-left: 168px;
    }
    .class3 i{
        margin-left: 193px;
    }
    .class4 i{
        margin-left: 291px;
    }
    .help .center img{
        height: 100px;
        width: 120px;
        margin-right: 5px;
    }
    .help .center h2{
        font-size: 20px;
        margin-left: 5px;
    }
    .help .center h5{
        font-size: 15px;
        margin-left: 5px;
    }
    .help .center p{
        font-size: 17px;
        margin-left: 5px;
    }

}